logs/
sessions/
node_modules/
www/.htaccess
www/bundles/
www/css/
www/js/
www/bower_components/
www/webassets/
vendor/
var/cache
cache/
phpunit.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/jsLinters/
.idea/modules.xml
.idea/inspectionProfiles/
.idea/copyright/
.idea/scopes/
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/jsLibraryMappings.xml
.idea/*.iml
.idea/libraries
.bowerrc
.php_cs.cache
data
