<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Content-Language" content="en">
        <meta name="apple-mobile-web-app-title" content="Baton" />
        <meta name="application-name" content="Baton" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
    {% endblock %}
    <title>{%- block title %}Baton{% endblock %}</title>
</head>

<body class="{% block bodyClass %}{% endblock %}">
    <div class="container">
        <header>
            {% block header %}
                <div class="mb-5 mt-5 text-center">
                    <h1>
                        {% if app.request.pathinfo != "/" %}<a href="/">{% endif %}
                            Baton
                        {% if app.request.pathinfo != "/" %}</a>{% endif %}
                    </h1>
                    <p>Composer Dependency Analytics Tool</p>
                </div>
            {% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block footer %}
                <div class="mb-5 mt-5 text-center">
                    <a href="{{ path('settings') }}">Settings</a>
                </div>
            {% endblock %}
        </footer>
    </div>
    <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
